In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pwd

'/Users/catherinefuller/galvanize/daimil10/projects/Mid_Term/Myanmar_Food/notebooks'

In [7]:
food_df = pd.read_csv('/Users/catherinefuller/galvanize/daimil10/projects/Mid_Term/Myanmar_Food/data/wfp_food_prices_mmr 2.csv')

In [8]:
food_df.head()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
0,#date,#adm1+name,#adm2+name,#loc+market+name,#geo+lat,#geo+lon,#item+type,#item+name,#item+unit,#item+price+flag,#item+price+type,#currency,#value,#value+usd
1,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,400.0,63.0785
2,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (chicken),KG,actual,Retail,MMK,3636.36,573.4413
3,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,"meat, fish and eggs",Meat (pork),KG,actual,Retail,MMK,3636.36,573.4413
4,2008-01-15,Kachin,Myitkyina,Wai Maw,25.34222,97.44001,vegetables and fruits,Onions,KG,actual,Retail,MMK,969.7,152.9177

In [9]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34196 entries, 0 to 34195
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       34196 non-null  object
 1   admin1     34196 non-null  object
 2   admin2     34196 non-null  object
 3   market     34196 non-null  object
 4   latitude   34196 non-null  object
 5   longitude  34196 non-null  object
 6   category   34196 non-null  object
 7   commodity  34196 non-null  object
 8   unit       34196 non-null  object
 9   priceflag  34196 non-null  object
 10  pricetype  34196 non-null  object
 11  currency   34196 non-null  object
 12  price      34196 non-null  object
 13  usdprice   34196 non-null  object
dtypes: object(14)
memory usage: 3.7+ MB

In [10]:
food_df.sample(20)

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
11890,2016-11-15,Chin,Falam,Tonzang,23.888,93.53625,oil and fats,Oil (palm),L,actual,Retail,MMK,2450.0,1.9153
21070,2021-09-15,Chin,Hakha,Hakha Myoma Market,22.64109,93.610627,pulses and nuts,Pulses,KG,actual,Retail,MMK,2753.98,1.5005
27053,2022-10-15,Sagaing,Hkamti,Home shop,26.97979,96.16705,pulses and nuts,Pulses,KG,actual,Retail,MMK,6129.0,4.2301
19251,2021-04-15,Mon,Mawlamyine,Mya Thida,15.24539174,97.84935392,"meat, fish and eggs",Eggs (local),10 pcs,actual,Retail,MMK,1200.0,0.8623
30532,2023-05-15,Rakhine,Mrauk-U,Laung Kyet,20.54771,93.24118,"meat, fish and eggs",Eggs (local),10 pcs,actual,Retail,MMK,2800.0,1.3504
1896,2010-02-15,Rakhine,Maungdaw,Kyein Chung,21.087561,92.339241,oil and fats,Oil (palm),L,actual,Retail,MMK,1300.0,206.0679
21519,2021-10-15,Chin,Mindat,Kanpetlet,21.19337,94.05666,oil and fats,Oil (palm),L,actual,Retail,MMK,3060.0,1.6206
20688,2021-08-15,Kachin,Bhamo,Bhamo,24.2666667,97.2333333,oil and fats,Oil (palm),L,actual,Retail,MMK,3304.77,2.2809
24866,2022-05-15,Rakhine,Thandwe,Toungup Main,18.85353,94.23972,pulses and nuts,Pulses,KG,actual,Retail,MMK,2081.0,1.4363
23038,2022-01-15,Rakhine,Sittwe,Ohn Taw Gyi,20.19755,92.78568,pulses and nuts,Pulses,KG,actual,Retail,MMK,1499.0,1.0346
31245,2023-07-15,Chin,Matupi,Samee,21.29209043,93.09600697,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,1762.0,1.2161
21640,2021-10-15,Mandalay,Meiktila,Yadanamenaung,20.90196,95.88639,pulses and nuts,Pulses,KG,actual,Retail,MMK,2142.0,1.1344
2375,2010-07-15,Chin,Matupi,Matupi,21.59521,93.45125,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,600.0,95.2169
27093,2022-10-15,Shan (North),Muse,Mone Koe,24.0992,98.306,"meat, fish and eggs",Eggs (local),10 pcs,actual,Retail,MMK,2143.0,1.4791
33612,2023-11-15,Rakhine,Sittwe,Ohn Taw Gyi,20.19755,92.78568,oil and fats,Oil (palm),L,actual,Retail,MMK,5500.0,2.646
23636,2022-02-15,Shan (North),Muse,Nam Kam,23.837,97.6818,vegetables and fruits,Tomatoes (local),KG,actual,Retail,MMK,3500.0,1.9894
21000,2021-08-15,Shan (North),Lashio,Galeng,23.38364,97.835951,pulses and nuts,Pulses,KG,actual,Retail,MMK,2631.58,1.8163
30635,2023-05-15,Shan (North),Muse,Mong Wee,23.6139,97.504514,vegetables and fruits,Tomatoes (local),KG,actual,Retail,MMK,1529.99,0.7379
30184,2023-04-15,Shan (North),Muse,Mong See,23.687602,98.392359,vegetables and fruits,Tomatoes (local),KG,actual,Retail,MMK,1928.0,1.3307
7241,2014-03-15,Kachin,Bhamo,Bhamo,24.2666667,97.2333333,non-food,Fuel (diesel),L,actual,Retail,MMK,1323.0,1.359

In [11]:
food_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34196 entries, 0 to 34195
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       34196 non-null  object
 1   admin1     34196 non-null  object
 2   admin2     34196 non-null  object
 3   market     34196 non-null  object
 4   latitude   34196 non-null  object
 5   longitude  34196 non-null  object
 6   category   34196 non-null  object
 7   commodity  34196 non-null  object
 8   unit       34196 non-null  object
 9   priceflag  34196 non-null  object
 10  pricetype  34196 non-null  object
 11  currency   34196 non-null  object
 12  price      34196 non-null  object
 13  usdprice   34196 non-null  object
dtypes: object(14)
memory usage: 3.7+ MB

In [12]:
food_df.describe()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,priceflag,pricetype,currency,price,usdprice
count,34196,34196,34196,34196,34196,34196,34196,34196,34196,34196,34196,34196,34196,34196
unique,193,15,47,232,224,224,8,26,7,2,3,2,4207,14164
top,2023-08-15,Rakhine,Sittwe,Lashio Market,22.9333333,97.75,cereals and tubers,Rice (low quality),KG,actual,Retail,MMK,306.0,1.7254
freq,547,7687,2798,796,796,796,6506,5383,23230,34195,34117,34195,672,146

In [16]:
food_df.value_counts('category')

category
cereals and tubers       6506
vegetables and fruits    6008
oil and fats             5398
miscellaneous food       5350
pulses and nuts          5266
meat, fish and eggs      3037
non-food                 2630
#item+type                  1
Name: count, dtype: int64